In [5]:
import pandas as pd
import numpy as np

In [7]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [9]:
df = pd.read_csv('covid_toy.csv')

In [11]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [17]:
df.cough.value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df.has_covid,test_size=0.2)

In [21]:
X_train

    age  gender  fever   cough       city
24   13  Female  100.0  Strong    Kolkata
50   19    Male  101.0    Mild      Delhi
60   24  Female  102.0  Strong  Bangalore
57   49  Female   99.0  Strong  Bangalore
45   72    Male   99.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
34   74    Male  102.0    Mild     Mumbai
28   16    Male  104.0    Mild    Kolkata
73   34    Male   98.0  Strong    Kolkata
98    5  Female   98.0  Strong     Mumbai
35   82  Female  102.0  Strong  Bangalore

[80 rows x 5 columns]

In [23]:
from sklearn.compose import ColumnTransformer

In [31]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first',sparse_output=False),['gender','city'])
],remainder='passthrough')

In [35]:
transformer.fit_transform(X_train).shape

(80, 7)

In [39]:
transformer.transform(X_test).shape

(20, 7)